@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300|Pacifico);
@gray: #ccc;
@gray-dark: #aaa;
@gray-deep: #888;
@blue: #3D8EB9;
@blue-hover: @blue + #111;

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
}

p, h2, h3 {
  margin: 0px 0px 2px 0px;
  text-align: center;
}

button, input {
  border: none;
  cursor: pointer;
}

input[type="text"], input[type="number"] {
  border: 1px solid @gray;
  border-radius: 2px;
  margin: 2px 0px 10px;
  height: 24px;
  width: 175px;
}

.logo {
  background: @blue;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-family: 'Pacifico', cursive;
  font-size: 29px;
  line-height: 50px;
  margin: 2px 3px;
  height: 55px;
  text-shadow: 1px 0px 0px @blue;
  transform: rotate(-20deg);
  width: 55px;
}

.form-button {
  background: @blue;
  color: white;
  padding: 10px;
  width: 180px;
  transition: background 0.4s;
  &:hover {
    background: @blue-hover;
  }
}

#login {
  .animate-fade-in;
  margin: 30px auto;
  width: 300px;

  .logo {
    margin: 60px auto;
    transform: scale(1.5) rotate(-30deg);
  }

  #login-form {
    form {
      border: 1px solid @gray;
      padding: 30px 0px;
    }
    p {
      color: @gray-deep;
    }
    h3 {
      border-left: 1px solid @gray;
      border-right: 1px solid @gray;
      border-top: 1px solid @gray;
      color: @gray-deep;
      margin: 0px;
      padding: 20px;
    }
    button, input {
      margin-left: 50px;
    }
  }
}

#address-header {
  button {
    background: @blue;
    color: white;
    right: 10px;
    top: 6px;
    padding: 16px;
    position: absolute;
  }
  background: #fff;
  border-bottom: 1px solid @gray;
  height: 60px;
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 9;
}

#side-bar {
  box-shadow: 1px 0px 4px @gray-dark;
  height: 100vh;
  margin-top: 60px;
  width: 200px;
  position: fixed;
  #address-balance {
    background: @gray-dark;
    color: white;
    margin: 5px auto;
    padding: 30px 5px;
    width: 90%;
    h2 {
      margin-top: 5px;
    }
  }
  #send-jobcoin {
    border-bottom: 1px solid @gray;
    border-top: 1px solid @gray;
    text-align: center;
    padding: 20px 0px;
    h3, p {
      color: @gray-deep;
    }
    span {
      color: @gray-dark;
      input[type="number"] {
        width: 165px;
      }
    }
  }
}

#transactions {
  .animate-fade-in;
  float: left;
  height: 500px;
  overflow: scroll;
  position: absolute;
  right: 10px;
  top: 0px;
  width: ~"calc(99% - 210px)";

  .transaction.positive {
    .t-date {
      top: auto;
      bottom: -30px;
    }
  }

  .transaction.negative {
    .t-date {
      top: -30px;
      bottom: auto;
    }
  }

  .transaction {
    position: absolute;
    width: 35px;
    &:hover {
      .t-to {
        opacity: 1;
      }
    }

    .t-amount {
      background: @gray-deep;
      border-radius: 50%;
      font-family: sans-serif;
      font-size: 11px;
      height: 15px;
      margin: auto;
      position: absolute;
      right: -6px;
      top: 0px;
      width: 15px;
      p {
        color: @gray-deep;
        width: 60px;
        margin-top: 2px;
      }
    }

    .t-to {
      background: @gray-deep;
      color: white;
      font-size: 12px;
      left: 40px;
      padding: 5px 15px;
      opacity: 0;
      position: absolute;
      top: -30px;
      transition: opacity 0.5s;
      white-space: nowrap;
      z-index: 1;
      &:after {
        content: '';
        left: -7px;
        top: 28px;
        width: 15px;
        height: 1px;
        background: @gray-deep;
        position: absolute;
        transform: rotate(-75deg);
      }
    }

    .t-date {
      background: @gray-deep;
      bottom: -30px;
      color: white;
      font-family: sans-serif;
      font-size: 10px;
      padding: 1px 0px;
      position: absolute;
      width: 35px;
    }
  }

  #base-line {
    border-bottom: 1px solid @gray-deep;
    bottom: 0px;
    position: absolute;
    width: 100%;
    &:after {
      border-bottom: 5px solid transparent;
      border-left: 5px solid @gray-deep;
      border-top: 5px solid transparent;
      content: '';
      height: 0;
      position: absolute;
      right: 0px;
      top: -5px;
      width: 0;
    }
    #end {
      bottom: -100px;
      height: 1px;
      position: absolute;
      right: 0px;
      width: 1px;
    }
  }
}

@keyframes fade-in {
  0% {opacity: 0; bottom: -100px;}
  25% {opacity: 0; bottom: -100px;}
  75% {opacity: 0.8; bottom: 0px;}
  100% {opacity: 1; bottom: 0px}
}
.animate-fade-in {
  animation-name: fade-in;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s;
}
